* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assestss/iso-republic-puffy-clouds.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: large;
}

.box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2.5rem;
  border-radius: 0.625rem;
  padding-bottom: 0;
  box-shadow: 0 0.9375rem 1.5625rem rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 21.875rem;
  color: white;
}

.box h1 {
  font-size: 3.5vh;
  padding-bottom: 0.9375rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated 3s ease-in-out infinite alternate;
  background-size: 500% auto;
}

@keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

.search-bar {
  width: 100%;
  padding: 0.625rem;
  background: transparent;
  border: 0.0625rem solid #ccc;
  color: lightgray;
  font-size: 1rem;
  border-radius: 1.25rem 0 0 1.25rem;
  outline: none;
}

.search-bar::placeholder {
  color: lightgray;
  font-style: italic;
}

button.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #555;
  border: 0.0625rem solid #ccc;
  border-radius: 0 1.25rem 1.25rem 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button.search-btn:hover {
  background-color: #777;
}

button.search-btn:focus {
  outline: none;
}

button.search-btn img {
  width: 1.25rem;
  height: auto;
}

.weather {
  margin-top: 1.25rem;
  color: lightgray;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.weather-item img {
  width: 1.875rem;
  height: auto;
  margin-right: 0.625rem;
}

.weather p {
  margin-bottom: 0.625rem;
}

#icon {
  width: 3.75rem;
  height: auto;
  margin-top: 0.625rem;
}

h2 {
  font-size: 1.5rem;
  color: smoke;
  margin-bottom: 0.625rem;
  text-shadow: #e2e0e6 0.03125rem 0.03125rem 0.03125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  font-size: 1.125rem;
  color: #ddd;
}

#icon-container {
  display: flex;
  justify-content: center;
}




